
<div class="row">
    <div class="col l4"></div>
  <div class="col s12 m6 l4 xl4 " >
    <form>
      <div class="card horizontal center-align">
        <div class="card-stacked">
          <div class="card-content">
            <div class="input-field">
            <label class="indigo-text accent-4" for="username" > Username </label>
            <input class="indigo-text accent-4" type="text" [(ngModel)]="formInfo.username" name="username" />
            </div><br>
            <div class="input-field">
            <label class="indigo-text accent-4" for="password"> Password </label>
            <input class="indigo-text accent-4" type="password" [(ngModel)]="formInfo.password" name="password" />
            </div>
            <div class="card-action">
              <button class="waves-effect btn indigo accent-4" (click)="login()" [routerLink]="['/user']"> LOGIN </button>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
</div>
