<div class="row">
  <div class="col l4"></div>
  <div class="col s12 m6 l4 xl4 ">
    <nav>
      <div class="nav-wrapper indigo accent-4">
        <form>
          <div class="input-field">
            <input id="search" type="search" placeholder="¿Que te apetece conocer?" [(ngModel)]="formInfo.city" name="city" required>
            <label class="label-icon" for="search"><i class="material-icons hide-on-small-only">search</i></label>
            <i class="material-icons">close</i>
            <button hidden="true" (click)="buscar()" class= "show-on-small btn-floating btn-large waves-effect waves-light indigo accent-4 goLeft" [routerLink]="['/city', ':city']"><i class="material-icons">search</i></button>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
