<div>
  <h3 class="center-align titulo indigo-text accent-4">Descubre  {{ciudad}}</h3>
</div>

<div class="row">

  <div class="col m4">
    <!-- <div class="row"> -->
    <div *ngFor="let a of buscadorService.markers">
      <!-- <a [routerLink]="['/city/details', a.place_id]">Details</a> -->
      <div class="sitio indigo-text accent-4">{{a.name}}
        <div class='button' [routerLink]="['/city/details', a.placeID]"></div>
      </div>

      <!-- </div> -->
    </div>
  </div>
  <div class="col m5" *ngIf="buscadorService.markers.length > 0">
      <app-map [markers]="buscadorService.markers"></app-map>
  </div>
</div>
