<div>
  <h3 class="center-align titulo indigo-text accent-4">Descubre  {{ciudad}}</h3>
</div>

<div class="row">

  <div class="col s12 m6 l6">
    <!-- <div class="row"> -->
    <div *ngFor="let a of interest">
      <!-- <a [routerLink]="['/city/details', a.place_id]">Details</a> -->

      <div class="sitio indigo-text accent-4">{{a.name}}
        <div class='button' [routerLink]="['/city/details', a.place_id]"></div>
      </div>

      <!-- </div> -->
    </div>
  </div>
  <div class="col s12 m6 l6">

    <div>
      <app-map></app-map>
    </div>
  </div>
</div>
